<div class="view-category-container">
    <div class="view-category-content">

        <div class="title-container">
            <p class="mini-title">Mailehereko</p>
            @if(title){
                 <p class="title">{{title}} <span>({{movieCards.length}})</span></p>
            }
        </div>

        <div class="search-container">
            <app-input></app-input>
        </div>

        <div class="movie-cards-section">
            @for (item of movieCards; track $index) {
                <div class="movie-card">
                    <app-movie-card [config]="item"></app-movie-card>
                </div>
            }
        </div>
    </div>
</div>
