
<div class="nav-bar-container">
    <div class="nav-content">
        <div (click)="homePage()" class="logo-section">

        </div>
            @if (navItems && navItems.length > 0) {
                <ul>
                    @for (nav of navItems; track $index) {
                        <li [ngClass]="{'active-item': nav.active}" (click)="selectedItem(nav)">{{nav.name}}
                            @if (nav.icon) {
                                <i class="{{nav.icon}}"></i>
                            }
                            
                        </li>
                    }
                
                </ul>
            }
            
    </div>
    
    
</div>