.rate-chip-component{
    display: flex;
    column-gap: 5px;
    padding: 5px 8px;
    border-radius: 7px;
    width: fit-content;
    background: rgba(0,0,0 ,0.8);
    i{
        color: #EEA245;
        font-weight: bold;
    }
    span{
        font-size: 17.35px;
        font-weight: bold;
        color: #EEA245;
    }
}